<form ng-controller="BookObjectController">
    <table class="form-table">
        <tbody>
        <tr>
            <td>
                <label for="fromDate">Von</label>
            </td>
            <td>
                <input id="fromDate" type="text" disabled ng-value="bookingData.start.format('D. MMM YY, H:mm')">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label for="timeBefore">Vorlauf</label>
            </td>
            <td>
                <input id="timeBefore" type="text" ng-model="bookingData.timeAround.before">
                (Termin beginnt um {{bookingData.start.clone().add(bookingData.timeAround.before, 'm').format('H:mm')}})
            </td>
        </tr>
        <tr>
            <td>
                <label for="endTime">Bis</label>
            </td>
            <td>
                <input id="endTime" type="text" disabled ng-value="bookingData.end.format('D. MMM YY, H:mm')">
            </td>
        </tr>
        <tr>
            <td>
                <label for="timeAfter">Nachlauf</label>
            </td>
            <td>
                <input id="timeAfter" type="text" ng-model="bookingData.timeAround.after">
                (Termin endet um {{bookingData.end.clone().subtract(bookingData.timeAround.after, 'm').format('H:mm')}})
            </td>
        </tr>
        <tr>
            <td>
                <label for="object" class="active">Objekt</label>
            </td>
            <td>
                <select id="object" ng-options="o as o.title for o in objects track by o.id"
                        ng-model="object"></select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>
