<form ng-controller="BookObjectController" class="row form-horizontal booking-form">

    <div class="col-sm-4">
        <div class="panel panel-default panel-default">
            <div class="panel-heading">Grundeinstellung</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="resource" class="col-sm-4 control-label">Resource</label>
                    <div class="col-sm-8">
                        <select id="resource" class="form-control"
                                ng-options="o as o.title for o in objects track by o.id"
                                ng-model="object"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="von" class="col-sm-2 control-label">von</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="von" placeholder="Startzeit"
                               value="{{bookingData.start.format('D. MMM, H:mm [Uhr]')}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bis" class="col-sm-2 control-label">bis</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="bis" placeholder="Endzeit"
                               value="{{bookingData.end.format('D. MMM, H:mm [Uhr]')}}">
                    </div>
                </div>
            </div>
        </div>
        <button ng-if="isEditing()" class="btn btn-primary" onclick="alert('Buchung!'); ">Speichern</button>
        <button ng-if="!isEditing()" class="btn btn-primary" onclick="alert('Gespeichert!'); ">Absenden</button>
        <button class="btn btn-default" ui-sref="find-date({categoryId: bookingData.categoryId})">Abbrechen</button>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">Zusätzliche Attribute</div>
            <ul class="list-group" ng-controller="ExtrasController as extras">
                <li class="list-group-item" ng-repeat="e in extras.getAll() | orderBy: 'title'">
                    <div ng-switch="e.type">
                        <!-- Ausklappbares Extra -->
                        <div ng-switch-when="form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label"
                                           ng-class="{'form-group-label': extras.selectedExtras[e.id]}"
                                           for="extra{{e.id}}">{{e.title}}</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="checkbox" type="checkbox" name="{{e.name}}" id="extra{{e.id}}"
                                           ng-model="extras.selectedExtras[e.id]">
                                </div>
                            </div>
                            <div class="animate-if" ng-if="extras.selectedExtras[e.id]">
                                <div class="row form-group"
                                     ng-repeat="field in e.subfields">
                                    <!-- Extra Field -->
                                    <div class="col-sm-3">
                                        <label for="extra{{e.id}}.field{{field.id}}"
                                               class="control-label">{{field.title}}</label>
                                    </div>
                                    <div class="col-sm-9" ng-switch="field.type">
                                        <input ng-switch-when="check" class="checkbox" type="checkbox"
                                               name="{{field.name}}"
                                               id="extra{{e.id}}.field{{field.id}}">

                                        <input ng-switch-when="text" type="text" name="{{field.name}}"
                                               id="extra{{e.id}}.field{{field.id}}"
                                               class="form-control">

                                    <textarea ng-switch-when="textarea" name="{{field.name}}"
                                              id="extra{{e.id}}.field{{field.id}}"
                                              class="form-control" rows="4"></textarea>

                                        <select ng-switch-when="select" name="{{field.name}}"
                                                id="extra{{e.id}}.field{{field.id}}"
                                                class="form-control">
                                            <option ng-repeat="val in field.values" value="{{val.id}}"
                                                    ng-selected="val.default">
                                                {{val.title}}
                                            </option>
                                        </select>
                                    </div>
                                    <!-- Extra Field -->
                                </div>
                            </div>
                        </div>

                        <!--Reguläre Felder-->
                        <div ng-switch-default class="row">
                            <div class="col-sm-3">
                                <label for="extra{{e.id}}" class="control-label">{{e.title}}</label>
                            </div>
                            <div class="col-sm-9" ng-switch="e.type">
                                <!-- Extra Field -->
                                <input ng-switch-when="check" class="checkbox" type="checkbox" name="{{e.name}}"
                                       id="extra{{e.id}}">

                                <input ng-switch-when="text" type="text" name="{{e.name}}" id="extra{{e.id}}"
                                       class="form-control">

                                <textarea ng-switch-when="textarea" name="{{e.name}}" id="extra{{e.id}}" rows="4"
                                          class="form-control"></textarea>

                                <select ng-switch-when="select" name="{{e.name}}" id="extra{{e.id}}"
                                        class="form-control">
                                    <option ng-repeat="val in e.values" value="{{val.id}}" ng-selected="val.default">
                                        {{val.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>