[ng-app="bkClient"] table.form-table td {
    border: none;
}

[ng-app="bkClient"] table.form-table td > label.active {
    cursor: pointer;
}

[ng-app="bkClient"] table.form-table td:first-child {
    text-align: right;
}

[ng-app="bkClient"] #timeBefore,
[ng-app="bkClient"] #timeAfter {
    width: 50px;
    display: inline-block;
}

/**
Ab hier Code Duplication (siehe filterView.css)
TODO: Auslagern
**/
.booking-form .control-label {
    text-align: left;
    /*padding-top: 0;*/
    padding-right: 0;
    font-weight: normal;
    cursor: pointer;
}

.booking-form .form-control {
    width: 100%;
    margin-bottom: 0;
}

.booking-form div > .form-group:last-child,
.booking-form div > .alert:last-child,
.booking-form div > .list-group:last-child {
    margin-bottom: 0;
}

.booking-form .panel li {
    margin-left: 0;
}

.booking-form input.checkbox {
    margin-top: 4px;
    margin-right: 4px;
}

.booking-form .row {
    min-height: 34px;
}

.booking-form .form-group-label {
    text-decoration: underline;
}

/**  **/

/*
Pour dire en CSS3 ce qui devra être animé :
Angular ajoute dynamiquement des classes CSS.
La transition se fait soit entre ng-enter et ng-enter-active
ou entre ng-leave et ng-leave-active.
*/
.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 500ms linear all;
    -moz-transition: 500ms linear all;
    -ms-transition: 500ms linear all;
    -o-transition: 500ms linear all;
    transition: 500ms linear all;
}

/* du début de l'entrée */
.animate-if.ng-enter {
    max-height: 0;
    /*opacity: 0;*/
}

/* à la fin de l'entrée */
.animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    /*opacity:1;*/
}

/* du début de la sortie */
.animate-if.ng-leave {
    max-height: 999px;
    /*opacity:1;*/
}

/* à la fin de la sortie */
.animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    /*opacity:1;*/
}